@model List<prjMvcCoreDemo.Models.CShoppingCartItem>

@{
    ViewBag.Title = "CartView";
}

<h2>CartView</h2>

<p>
    @Html.ActionLink("檢視購物車", "Create")
</p>
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            購買品項
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].小計)
        </th>
        <th></th>
    </tr>
    @{
        int count = 0;
        decimal pay = 0;
        decimal tax = 0;
        decimal sum = 0;
        foreach (var item in Model)
        {
            count++;
            pay += item.小計;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.小計)
                </td>
                <td>
                    @Html.ActionLink("改數量", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("取消", "Edit", new { /* id=item.PrimaryKey */ })

                </td>
            </tr>
        }
        tax = pay * 0.05M;
        sum = pay + tax;
    }


</table>
<li>交易金額:@pay.ToString("###,###,##0")</li>
<li>稅   額:@tax.ToString("###,###,##0")</li>
<li>應付金額:@sum.ToString("###,###,##0")</li>
